html{
    box-sizing: border-box;
}

*,
*::after,
**::before {
    box-sizing: inherit;
}

ul[class],
ol[class]{
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

/*Website*/

body{
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-style: normal;
    color: #242121;
    letter-spacing: 0.6px;
}

.wrapper {
    min-height: 100vh;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #01353E;
    position: relative;
    display: inline-block;
}

.title::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 70px;
    background-color: #00B2A0;
    right: -30px;
    bottom: -30px;

    transform: rotate(204deg);
    clip-path: polygon(63% 0, 100% 0%, 38% 100%, 0 100%);
}

/*--------------------HEADER*/
.header {
    background-image: url(../assets/images/main-bg.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.header__top {
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 35px 0px 0px;
    margin-bottom: 243px;
    color: #fff;
}
.logo {
    height: 63px;
    width: 60px;
}
.header__nav {
    display: flex;
    align-items: center;
}

.burger__btn{
    display: none;
}

.nav__list {
    display: flex;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6px
}
.nav__list-item + .nav__list-item {
    margin-left: 45px;
}

.nav__list-item{
    padding: 2px 3px;
    
}

.nav__list-item a{
    transition: ease .4s;
}

.nav__list-item a:hover{
    border-bottom: 1px solid #00B2A0;
}

.header__content {
    text-align: center;
    transform: translateY(-80%);
}
.main__header {
    font-weight: 700;
    font-size: 200px;
    line-height: 235px;
}
.header_decr {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

/*--------------------ABOUT*/

.about__desrc{
    padding: 188px 0 200px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.descr__title{
    text-align: center;
    margin-bottom: 100px;
}

.about__text {
    column-count: 2;
}
.about__text-item {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #242121;
    margin-bottom: 30px;
    width: 480px;
    height: 90px;
}

.about__servises{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servises__title{
    margin-bottom: 100px;
}

.services__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.servises__item {
    width: 350px;
}

.servises__item + .servises__item{
    margin-left: 74px;
}

.servises__item-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin-bottom: 10px;
}

.servises__item-name {
    font-style: normal;
    font-weight: 400;
    max-width: 185px;
    font-size: 24px;
    line-height: 24px;
}

.servises__item-ico{
    margin-right: 10px;
}

.servises__item-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
}

.about__info{
    display: flex;
    justify-content: space-between;
}

.about__scale {
    margin-bottom: 205px;
}
.about__scale-item {
    display: flex;
}
.about__scale-scale {
    width: 300px;
    margin-right: 10px;
}
.about__scale-wave {
    margin-bottom: 2px;
}
.about__scale-name {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
}
.about__scale-percent {
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
}

.about__additional-info{
    background-image: url(../assets/images/additional-info-img.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right center;
    padding: 200px 0 200px;
}

.about__info-text{
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.about__info-text p{
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 30px;
}

.about__additional-info-title{
    margin-bottom: 100px;
}

.about__additional-info-text{
    max-width: 507px;
}

.about__additional-info-text p{
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
}

/*--------------------GALLERY*/
.gallery {
    margin-bottom: 200px;
}

.gallery__title-container{
    display: flex;
    align-items: center;
}
.gallery__title {
    display:  inline-block;
    margin: 0 auto 200px;

}
.gallery__filter {
    display: flex;
    margin-bottom: 50px;
}
.gallery__filter-item {
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
}

.gallery__filter-item button {
    border: none;
    background-color: transparent;
    transition: .5s;
    cursor: pointer;
}

.gallery__btn:hover{
    background-color: #00B2A0;
    color: white;
}

.gallery__filter-item button:hover{
    color: #00B2A0;
}

.gallery__filter-item + .gallery__filter-item {
    margin-left: 20px;
}
.gallery__photos {
    height: 600px;
    margin-top: 20px;
}

.btn__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery__btn {
    margin-top: 50px;
    width: 350px;
    height: 70px;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    background: transparent;
    border: 1px solid #C4C4C4;
    transition: 0.4s;

}

/*---------------------Video*/
.video{
    padding: 0 0 220px;
}

.video__blockquote{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;  
    width: 100%;
    background-color: #F8F8F8;
    text-align: center;
    margin-bottom: 262px;
}

.blockquoute__text {
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}
.blockquoute__author {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
}

.video__box {
    height: 600px;
    background-image: url(../assets/images/video-bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.nums__info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nums__info-item + .nums__info-item{
    margin-left: 100px;
}

.nums__info-num {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}
.nums__info-decr {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
}

/*--------------------BLOG*/
.blog {
    padding-bottom: 200px;
}

.blog__title-container{
    display: flex;
    justify-content: center;
    margin-bottom: 230px;
}

.blog__slider-item{
    position: relative;
}

.blog__slider-item img{
    filter: brightness(70%);
    z-index: 1;
}

.slider__item-text{
    position: absolute;
    color: white;
    right: 5%;
    top: 50%;
    max-width: 600px;
    z-index: 10;
}

.slider__item-header{
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
}

.slider__item-decrs{
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
}

.slick-dots{
    display: flex;
    position: absolute;
    right: 40%;
    bottom: 10%;
}

.slick-dots button{
    margin-left: 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 0;
    border: none;
    transition: 0.6s;
}

.slick-dots button:hover{
    transform: scale(1.2);
}

.slick-active button{
    background-color: #00B2A0;
}

/*--------------------TEAM*/
.team {
    padding-bottom: 240px;
}

.team__title-container{
    display: flex;
    justify-content: center;
    margin-bottom: 212px;
}

.team__items{
    display: flex;
    justify-content: space-around;
}

.team__name{
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-top: 25px;
}

.team__descr{
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
}

/*--------------------PRICES*/
.prices {
    padding: 200px 0 200px;
    background-color: #F8F8F8;
}

.prices__title-container{
    display: flex;
    justify-content: center;
    margin-bottom: 212px;
}

.prices__items{
    display: flex;
    justify-content: space-around;
}

.prices__item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 577px;
    width: 360px;
}

.prices__item-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}
.prices__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 208px;
}
.prices__list-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.prices__price {
    position: relative;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}

.prices__price sub{
    position: absolute;
    top: 20%;
    right: -15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

/*----------------------MAP*/

.map{
    padding: 200px 0 200px;
}

.map__container{
    position: relative;
}

.map__pin{
    position: absolute;
    top: 60px;
    right: 572px;
}

/*--------------------CONTACT*/
.contact {
    padding-bottom: 200px;
}

.contact__title-container{
    display: flex;
    justify-content: center;
    margin-bottom: 243px;
}

.contact__info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.contact__form{
    max-width: 570px;
    height: 460px;
    display: flex;
    flex-direction: column;
}

.contact__form input {
    border: none;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 32px;
    color: #00B2A0;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    outline: none;
    padding: 18px 0;
}

.contact__form input::placeholder{
    color: #00B2A0;
}

.contact__form textarea{
    border: none;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 32px;
    color: #00B2A0;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    outline: none;
    resize: none;
}

.contact__form textarea::placeholder{
    width: 260px;
    color: #00B2A0;
}

.contact__form button{
    width: 350px;
    height: 70px;
    background-color: transparent;
    cursor: pointer;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    transition: 0.4s;
}

.contact__form button:hover{
    background-color: #00B2A0;
    color: white;
}

.contact__text{
    width: 600px;
    height: 460px;
    background-color: #F8F8F8;
}

.contact__text p {
    width: 320px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin: 50px 52px 65px;
}

.contact__social{
    display: flex;
    justify-content: center;
}

.contact__social a{
    margin-left: 10px;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    transition: 0.4s;
}

.contact__social a:hover{
    color: #00B2A0;
}

/*--------------------FOOTER*/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #00B2A0;
}



/*ADAPTIVE*/

@media (max-width: 1550px) {
    /*Header*/
    .header__top{
        justify-content: space-around;
    }
}

@media (max-width: 1300px) {
    .title {
        font-size: 28px;
        line-height: 36px;
    }

    .about__desrc,
    .about__additional-info{
        padding: 80px 0 80px;
    }

    /*Header*/
    .header__nav{
        margin-right: 50px;
    }

    .nav__list-item + .nav__list-item {
        margin-left: 25px;
    }

    .main__header{
        font-size: 160px;
        line-height: 150px;
    }

    /*About*/
    .descr__title {
        margin-bottom: 65px;
    }

    .about__text-item{
        width: 384px;
        height: 120px;
    }

    .services__items{
        display: block;
    }

    .servises__item{
        margin-bottom: 70px;
    }

    .servises__item + .servises__item{
        margin-left: 0;
    }

    .about__info{
        display: block;
    }

    .about__scale{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__scale{
        width: 100%;
        margin-bottom: 100px;
    }

    .about__info-text{
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        max-width: 400px;
    }

    .about__additional-info-text{
        max-width: 400px;
    }

    .about__additional-info-text p {
        column-count: 2;
    }
}

@media (max-width: 978px) {
    /*Header*/
    .header{
        position: relative;
    }

    .header__top{
        justify-content: space-between;
        margin-bottom: 470px;
        padding: 20px 0 0;
        background-color: #002E36;
    }

    .logo{
        margin-left: 20px;
    }

    .burger__btn{
        height: 70px;
        width: 70px;
        background-color: transparent;
        border: none;
        filter: invert(1);
        display: block;
    }

    .nav__list{
        transform: translateY(-200%);
        display: block;
        position: absolute;
        top: 120px;
        left: 0;
        transition: ease 0.7s;
        color: black;
        width: 100%;
        background-color: white;
    }

    .nav__list-active{
        transform: translateY(0%);
    }

    .nav__list-item{
        text-align: center;
        margin: 20px 0;
        font-weight: 600;
    }

    .nav__list-item + .nav__list-item{
        margin-left: 0;
    }

    .main__header{
        font-size: 120px;
        line-height: 130px;
    }

    .about__additional-info{
        background-image: none;
    }

    .about__additional-info-text{
        max-width: 100%;
    }

    .about__additional-info-text p{
        column-count: 1;
    }

    .about__additional-info-title{
        margin-bottom: 50px;
    }
}

@media (max-width: 820px) {
    /*About*/
    .about__text{
        column-count: 1;
    }

    .about__text-item{
        width: 450px;
        height: 100px;
    }

    .about__text-item--inactive{
        display: none;
    }

    .services__items{
        margin-bottom: 50px;
    }

    /*Gallery*/
    .gallery__title{
        margin: 0 auto 100px;
    }
}

@media (max-width: 625px) {
    .title {
        font-size: 20px;
    }
    /*Header*/
    .header__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main__header{
        font-size: 80px;
        line-height: 100px;
    }

    .header_decr{
        font-size: 16px;
        max-width: 320px;
        margin: 0 30px;
    }

    /*About*/
    .about__desrc{
        padding: 40px 0 40px;
    }

    .servises__title{
        margin-bottom: 50px;
    }

    .about__additional-info{
        padding: 40px 0 40px;
    }
}

@media (max-width: 478px) {
    /*About*/
    .title::after{
        height: 40px;
        right: -15px;
        bottom: -16px;
    }

    .descr__title{
        max-width: 320px;
    }

    .about__text-item{
        width: 320px;
        height: 130px;
    }

    .servises__item{
        text-align: center;
    }

    .servises__item-name{
        font-size: 16px;
    }

    .servises__item-text{
        max-width: 300px;
        margin-left: 10px;
    }

    .about__scale-scale{
        width: 260px;
    }

    .about__scale-wave{
        margin-bottom: 15px;
    }



    /*Gallery*/ 

    .gallery__filter-item + .gallery__filter-item {
        margin-left: 10px;
    }

    .gallery__filter-item {
        font-size: 16px;
        line-height: 14px;
    }

    .gallery__btn {
        width: 250px;
    }
}